@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Roboto+Condensed');
@import '_colors.scss';

.App-logo {
    font-family: 'Gentium Book Basic', serif;
    font-style: italic;
    font-size: 1.25rem;
    height: 1rem;
    padding: 4px 16px;
    color: $text;
    display: inline-block;
}

.App {
    height: 100vh;
}

.App-header {
    background-color: $white;
    border-bottom: $primary 4px solid;
}

.Map {
    width: 100%;
    border-bottom: $primary 4px solid;
    min-height: 400px;
};

.nav-buttons {
    list-style: none;
    display: inline-block;
    padding: 0px 4px;
}

.nav-button {
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;

    & a {
        text-decoration: none;
        color: $text;
        line-height: 2rem;
        height: 2rem;
        padding: 0.5rem;

        &:hover {
            border-bottom: 2px $secondary solid;
        }

        &.active {
            border-bottom: 2px $primary solid;
        }
        & img {
            vertical-align: middle;
            padding: 0 4px;
        }
    }
}

.badge {
    padding: 2px 6px;
    margin-left: 4px;
    font-style: italic;
    font-size: x-small;
    border-radius: 8px;
    background: #99ff80;
    color: #303030;
}

.row {
    margin: 16px 8px;
    padding: 0px 16px;
}

.chart {
    width: 80%;
    display: inline-block;

    h2 {
        font-size: 2rem;
        border-bottom: 2px $primary dashed;
        margin: auto;
        max-width: 150px;
        text-align: center;
    }
}
.stats {
    width: 20%;
    display: inline-block;
    min-width: 120px;
    font-size: 2rem;
    vertical-align: top;
    text-align: center;

    h4 {
        border-bottom: 2px $primary dashed;
        margin-bottom: 16px;
    }
}
